{% extends 'base.html' %}

{% block title %}
Category list
{% endblock title %}

{% block content %}


<main>
    <h1>Category list</h1>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Number of receipts</td>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{category.name}}</td>
                <td>{{category.receipts.all|length}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>


{% endblock content %}