{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>
</head>
<header>
    <nav>
        <ul>
            <li>
                <a href="{% url 'home' %}"> Main Page</a>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}"> Logout</a>
                <a href="{% url 'create_receipt' %}"> Create Receipt</a>
                <a href="{% url 'account_list' %}"> Account list</a>
                <a href="{% url 'category_list' %}"> Category list</a>
                <a href="{% url 'create_category' %}"> Create Category</a>
                <a href="{% url 'create_account' %}"> Create_Account</a>

                {% else %}
                <a href="{% url 'signup' %}">Sing Up</a>
                <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </li>
        </ul>
    </nav>
</header>

<body>
    {% block content %}
    {% endblock content %}

</body>

</html>