{% extends 'base.html' %}

{% block title %}
Account list
{% endblock title %}

{% block content %}


<main>
    <h1>Account list</h1>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Number</td>
                <td>Number of receipts</td>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td>{{account.name}}</td>
                <td>{{account.number}}</td>
                <td>{{account.receipts.all|length}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>


{% endblock content %}